<div class="span-10" id="stack">
  <% 30.downto 1 do |i| %>
    [<%= i %>]: <br />
  <% end %>
</div>

<div class="span-10 last" id="output">
  output
</div>

<div class="span-20 last">
  <form>
    <input type="text" class="inline" id="input">
    <%= link_to "ENTER", "#", :class => "primary enter button negative" %>
  </form>
</div>

<div class="span-10">
  <%= link_to "Matrix", "#", :class => "button _left" %>
  <%= link_to "Stats", "#", :class => "button _middle" %>
  <%= link_to "Vars", "#", :class => "button _middle" %>
  <%= link_to "Graph", "#", :class => "button _middle" %>
  <%= link_to "Trig", "#", :class => "button _middle" %>
  <%= link_to "Math", "#", :class => "button _right" %>
  
  <br /><br />
  
  <%= link_to "Y=", "#", :class => "button _left" %>
  <%= link_to "Graph", "#", :class => "button _middle" %>
  <%= link_to "Window", "#", :class => "button _middle" %>
  <%= link_to "Zoom", "#", :class => "button _middle" %>
  <%= link_to "Table", "#", :class => "button _right" %>
  
  <br /><br />
  
  <%= link_to "Basic", "#", :class => "button _left" %>
  <%= link_to "LaTeX", "#", :class => "button _middle" %>
  <%= link_to "Export", "#", :class => "button _right" %>
</div>

<div class="span-10 last">
  input options
</div>