<div class="span-10" id="stack">
  <% 30.downto 1 do |i| %>
    [<%= i %>]: <br />
  <% end %>
</div>

<div class="span-10" id="output">
  output
</div>

<div class="span-20">
  <form>
    <input type="text" class="inline" id="input">
    <%= link_to "ENTER", "#", :class => "primary enter button negative" %>
  </form>
</div>

<div class="span-10">
  <%= link_to "Matrix", "#", :class => "button _left matrix_option mode_option" %>
  <%= link_to "Stats", "#", :class => "button _middle mode_option" %>
  <%= link_to "Vars", "#", :class => "button _middle mode_option" %>
  <%= link_to "Graph", "#", :class => "button _middle mode_option" %>
  <%= link_to "Trig", "#", :class => "button _middle mode_option" %>
  <%= link_to "Math", "#", :class => "button _right math_option mode_option" %>  
</div>

<div class="span-10">

  <div class="default_panel mode_panel">
    DEFAULT PANEL
  </div>
  
  <div class="math_panel mode_panel">
    MATH PANEL
  </div>
  <div class="matrix_panel mode_panel">
    MATRIX PANEL
  </div>

</div>