<header>

  <div class="span-24 last"><%= link_to logo, root_path %></div>

  <div class="span-24 last">
    <%= link_to "Help", "#", :class => "button _left help_toggle" %>
    <%= link_to "Settings", "#", :class => "button _right settings_toggle" %>
  </div>
  
  <div class="span-24 last">
    <div class="help_panel">
      <%= render 'layouts/help_panel' %>
    </div>
  
    <div class="settings_panel">
      <%= render 'layouts/settings_panel' %>
    </div>
  </div>
  
</header>