<div class="span-3 last">
<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />

<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />
</div>
<div class="span-3 last">
<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />

<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />
</div>
<div class="span-3 last">
<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />

<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />
</div>
<div class="span-3 last">
<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />

<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />
</div>
<div class="span-3 last">
<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />

<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />
</div>
<div class="span-3 last">
<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />

<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />
</div>
<div class="span-3 last">
<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />

<%= link_to "ON", "#", :class => "button _left setting selected" %>
<%= link_to "OFF", "#", :class => "button _right setting" %><br />
</div>