<!DOCTYPE html>
<html>
<head>
  <title>Mathemagic</title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class = "container">
    
    <%= render 'layouts/header' %>
  
    <%= yield %>
    
    <%= render 'layouts/footer' %>

  </div>
</body>
</html>
