<!DOCTYPE html>
<html>
<head>
  <title>Mathemagic</title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class = "container">
  
    <center>
    
    <%= render 'layouts/header' %>
    
    <div class = "span-2">&nbsp;</div>
    
    <div class = "span-20">
      <%= yield %>
    </div>
    
    <div class = "span-2 last">&nbsp;</div>
    
    <%= render 'layouts/footer' %>
    
    </center>

  </div>
</body>
</html>
